.Eliminator {
  text-align: center;
}

.Eliminator-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.Eliminator-body {
  font-size: large;
  margin-top: 2rem;
}

.linear-system .linear-equation {
  padding-bottom: 0.8em;
}

.linear-equation .input-group {
  width: initial;
}

.linear-equation .input-group.variable input {
  width: 3em;
}

.linear-equation .operator {
  padding: 0.3em 0.7em;
}

.linear-equation .operator,
.linear-equation .constant {
  font-size: 1.2em;
}

/* Hide numeric input UI for Firefox */
.Eliminator-body input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
/* Hide numeric input UI for Webkit */
.Eliminator-body input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
